[Desktop Entry]
Type=Application
Version=1.0
Name=Spotizgeg
GenericName=Music Player
Comment=Le spotizgeg, le seul et l'unique !
Exec=spotizgeg %u
Terminal=false
Categories=AudioVideo;Audio;Player;Music;
Keywords=spotify;music;player;streaming;spotizgeg;
Icon=spotizgeg
StartupNotify=true
StartupWMClass=spotizgeg
MimeType=x-scheme-handler/spotify;
